src/main/resources/gui/schemas/MVEngineGuiconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config" type="configType"/>
  <xs:complexType name="themePathType">
    <xs:sequence>
      <xs:element type="xs:string" name="relative"/>
      <xs:element type="xs:string" name="absolute"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="layoutPathType">
    <xs:sequence>
      <xs:element type="xs:string" name="relative"/>
      <xs:element type="xs:string" name="absolute"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="layoutsType">
    <xs:sequence>
      <xs:element type="xs:string" name="layout" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="configType">
    <xs:sequence>
      <xs:element type="themePathType" name="themePath"/>
      <xs:element type="layoutPathType" name="layoutPath"/>
      <xs:element type="layoutsType" name="layouts"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>