src/main/resources/gui/xsd/MVEngineGui.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gui">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="text" type="element"></xs:element>
                <xs:element name="layout" type="container"></xs:element>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="element">
        <xs:sequence>
            <xs:element name="tag" type="xs:string"/>
            <xs:element name="content" type="xs:string" maxOccurs="1"/>
            <xs:element name="color" type="xs:hexBinary" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="x" use="optional" type="xs:integer"/>
        <xs:attribute name="y" use="optional" type="xs:integer"/>
        <xs:attribute name="width" use="optional" type="xs:integer"/>
        <xs:attribute name="height" use="optional" type="xs:integer"/>
        <xs:attribute name="id" use="optional" type="xs:ID"/>
    </xs:complexType>
    <xs:complexType name="container">
        <xs:complexContent>
            <xs:extension base="element">
                <xs:sequence>
                    <xs:element name="text" type="element"/>
                    <xs:element name="layout" type="container"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>